body{

margin:0;
padding:20px;

background:#111;

color:white;

text-align:center;

font-family:Arial,sans-serif;

}



h1{

color:#00ff88;

font-size:32px;

}



video{

width:95%;

max-width:500px;

border:3px solid #00ff88;

border-radius:15px;

background:black;

}



canvas{

display:block;

margin:15px auto;

width:95%;

max-width:800px;

border:2px solid #00ff88;

border-radius:10px;

}



#status{

color:yellow;

font-size:22px;

margin-top:20px;

}
