body{

margin:0;

padding:15px;

background:#111;

color:white;

font-family:Arial;

text-align:center;

}



h1{

color:#00ff88;

}



.gameBox{

max-width:600px;

margin:auto;

}



video{

width:95%;

border:3px solid #00ff88;

border-radius:15px;

background:black;

}



canvas{

width:95%;

margin-top:10px;

}



#status{

color:yellow;

font-size:22px;

}



#score{

margin-top:15px;

font-size:22px;

line-height:35px;

}



button{

margin-top:15px;

padding:12px 30px;

font-size:18px;

border-radius:10px;

border:none;

background:#00ff88;

}
